<div class="d-flex flex_wrap_sm">
  <div class="left-create-account-col px-lg-3">
    <div class="create-account-inner">
      <h1 class="create_business_account_title bold mb-0 text-center">
        Create a business account
      </h1>
      <p class="mb-0 text-center already_have_account">
        Already have an account? <a href="" class="login_in_a">Log in</a>
      </p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-div">
          <input
            type="email"
            placeholder="Work email"
            class="tt-input"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-div form-div-password position-relative">
          <input
            [type]="show ? 'text' : 'password'"
            placeholder="Password"
            class="tt-input"
            name="password"
            formControlName="password"
          />
          <button (click)="passwordToggle()" type="button">
            {{ show ? "Hide" : "Show" }}
          </button>
        </div>
        <button
          class="btn_next_div w-100"
          [disabled]="!signupForm.valid"
          type="submit"
        >
          Next
        </button>
        <p class="mb-0 or_text text-center">OR</p>
        <button class="signup_google w-100">
          <img src="assets/images/google.png" alt="" srcset="" />
          <span>Sign up with google</span>
        </button>
        <button class="signup_apple w-100">
          <img src="assets/images/apple.png" alt="" srcset="" />
          <span>Sign up with Apple</span>
        </button>
      </form>
      <p class="mb-0 text-center lastdesc_p_signup">
        By registering, you accept our <span>Terms of use</span> and
        <span>Privecy Policy</span>
      </p>
    </div>
  </div>
  <div class="right-image-col">
    <img
      class="w-100"
      src="assets/images/handsome-waiter.png"
      alt=""
      srcset=""
    />
  </div>
</div>
