<div class="wrapper">
  <h3>Tell us about yourself</h3>
  <p>Welcome! Let's get to know each other a bit better.</p>
  <form class="form-group" [formGroup]="aboutForm">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="fullName"
        placeholder="Enter your full name"
        formControlName="fullname"
      />
    </div>
    <div class="mb-3">
      <select
        class="form-select form-control"
        aria-label="Default select example"
        formControlName="country"
      >
        <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
      </select>
    </div>
    <div class="mb-3">
      <select
        class="form-select form-control"
        aria-label="Default select example"
        formControlName="refer"
      >
        <option selected>Where did you here about us</option>
        <option value="google">Google</option>
        <option value="facebook">Facebook</option>
        <option value="linkedin">LinkedIn</option>
      </select>
    </div>
  </form>
</div>

<div class="progress_wrapper">
  <ul class="steps">
    <li class="completed"></li>
    <li></li>
    <li></li>
  </ul>
  <div class="action_buttons">
    <a class="back_link" routerLink="/home">Back</a>
    <button
      class="btn btn-dark px-4 py-1"
      type="button"
      [disabled]="!aboutForm.valid"
      (click)="onSubmit()"
    >
      Next
    </button>
  </div>
</div>
