<div class="wrapper">
  <h3>Business Details</h3>
  <p>Let's bring your business into the spotlight!</p>
  <form class="form-group" [formGroup]="detailsForm">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="fullName"
        placeholder="Business name"
        formControlName="businessName"
      />
    </div>
    <div class="mb-3">
      <select
        class="form-select form-control"
        aria-label="Default select example"
        formControlName="city"
      >
        <option *ngFor="let c of cities" [ngValue]="c">{{ c }}</option>
      </select>
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="fullName"
        placeholder="Address deatls"
        formControlName="address"
      />
    </div>
  </form>
</div>

<div class="progress_wrapper">
  <ul class="steps">
    <li class="completed"></li>
    <li></li>
    <li></li>
  </ul>
  <div class="action_buttons">
    <a routerLink="/pricing" class="back_link ms-3">Back</a>
    <button
      class="btn btn-dark"
      type="button"
      [disabled]="!detailsForm.valid"
      (click)="onSubmit()"
    >
      Next
    </button>
  </div>
</div>
