<div class="wrapper">
  <h3>Business Details</h3>
  <p>Let's bring your business into the spotlight!</p>
  <form class="form-group">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="fullName"
        placeholder="Business name"
      />
    </div>
    <div class="mb-3">
      <select
        class="form-select form-control"
        aria-label="Default select example"
      >
        <option selected>City</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="fullName"
        placeholder="Address deatls"
      />
    </div>
  </form>
</div>

<div class="progress_wrapper">
  <ul class="steps">
    <li class="completed"></li>
    <li></li>
    <li></li>
  </ul>
  <div class="action_buttons">
    <a routerLink="/code" class="back_link">Back</a>
    <a class="btn btn-dark" type="action">Next</a>
  </div>
</div>
