<div class="wrapper">
  <h3>Select plan</h3>
  <p>
    It's time to choose your path! Please select a plan that best fits your
    needs.
  </p>
</div>
<div class="container text-center mt-4">
  <div class="d-md-flex gap-3">
    <div class="card w-100 single_price_plan">
      <span class="badge">Starter plan</span>
      <div class="pricing">
        <h2>AED 499</h2>
        <span>/Per month</span>
      </div>
      <button class="btn btn-block btn-dark btn-lg">Get started</button>
      <ul>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>5000 Orders /Reservations</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Digital Menu</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Self Ordering & Payment</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Restaurant QR/NFC</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Request For Waiter</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Live Updates On Order</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Split Bill For Guests</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Push Notification For Orders</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Manage Unlimited Tables</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Mobile Application</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Unlimited Employees</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Manage Unlimited Tables</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Monthly Installments</p>
        </li>
      </ul>
    </div>
    <div class="card w-100 single_price_plan">
      <span
        class="badge"
        style="
          background: linear-gradient(107.56deg, #135fb9 0%, #a9048e 60.94%);
        "
        >Starter plan</span
      >
      <div class="pricing">
        <h2
          style="
            background: linear-gradient(107.56deg, #135fb9 0%, #a9048e 60.94%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          AED 499
        </h2>
        <span>/Per month</span>
      </div>
      <button
        class="btn btn-block btn-dark btn-lg"
        style="
          background: linear-gradient(107.56deg, #135fb9 0%, #a9048e 60.94%);
          border: none;
        "
      >
        Get started
      </button>
      <ul>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>5000 Orders /Reservations</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Digital Menu</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Self Ordering & Payment</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Restaurant QR/NFC</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Request For Waiter</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Live Updates On Order</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Split Bill For Guests</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Push Notification For Orders</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Manage Unlimited Tables</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Mobile Application</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Unlimited Employees</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Manage Unlimited Tables</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Monthly Installments</p>
        </li>
      </ul>
    </div>
    <div class="card w-100 single_price_plan">
      <span
        class="badge"
        style="
          background: rgb(118, 93, 42);
          background: linear-gradient(
            36deg,
            rgba(118, 93, 42, 1) 0%,
            rgba(183, 158, 107, 1) 35%,
            rgba(118, 93, 42, 1) 80%,
            rgba(142, 117, 66, 1) 100%
          );
        "
        >Golden Plan</span
      >
      <div class="pricing">
        <h2
          style="
            background: rgb(118, 93, 42);
            background: linear-gradient(
              36deg,
              rgba(118, 93, 42, 1) 0%,
              rgba(183, 158, 107, 1) 35%,
              rgba(118, 93, 42, 1) 80%,
              rgba(142, 117, 66, 1) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          AED 499
        </h2>
        <span>/Per month</span>
      </div>
      <button
        class="btn btn-block btn-dark btn-lg"
        style="
          background: rgb(118, 93, 42);
          background: linear-gradient(
            36deg,
            rgba(118, 93, 42, 1) 0%,
            rgba(183, 158, 107, 1) 35%,
            rgba(118, 93, 42, 1) 80%,
            rgba(142, 117, 66, 1) 100%
          );
          border: none;
        "
      >
        Get started
      </button>
      <ul>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>5000 Orders /Reservations</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Digital Menu</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Self Ordering & Payment</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Restaurant QR/NFC</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Request For Waiter</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Live Updates On Order</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Split Bill For Guests</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Push Notification For Orders</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Manage Unlimited Tables</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Mobile Application</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Unlimited Employees</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Manage Unlimited Tables</p>
        </li>
        <li class="d-flex gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="24" rx="12" fill="#F2F2F7" />
            <path
              d="M16.8125 8.93774L10.6875 15.0625L7.625 12.0002"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Monthly Installments</p>
        </li>
      </ul>
    </div>
  </div>
</div>
