.about-tile {
  color: var(--color-black);
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}

.sub-title {
  color: var(--color-grey);
  font-size: 14px;
  line-height: 21px;
}

input::placeholder,
select {
  color: var(--color-grey);
}

.bottom-border-container {
  margin-top: 24rem;
}

.bottom-border {
  padding: 3px;
  background-color: #eeeeee;
}

@media (max-width: 500px) {
}
