<div class="container">
  <main class="py-5">
    <div class="row g-5 ms-3">
      <div class="col-md-7 col-lg-5 offset-lg-2">
        <div class="py-5 text-center mt-5">
          <h2>Create a business account</h2>
          <small class="text-muted"
            >Already have an account? <a href="/">Login</a></small
          >
        </div>

        <form>
          <div class="row g-3">
            <div class="col-12">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Work Email"
              />
            </div>

            <div class="col-12">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>

            <div class="col-12">
              <button class="w-100 btn btn-warning btn-lg" type="submit">
                Next
              </button>
            </div>

            <div class="col-12 text-center">
              <small class="text-muted">OR</small>
            </div>

            <div class="col-12">
              <button
                class="w-100 btn btn-outline-secondary btn-lg no-hover"
                type="submit"
              >
                <img
                  src="assets/google.png"
                  alt="Google"
                  width="20px"
                  class="mb-1"
                />
                Signup with Google
              </button>
            </div>

            <div class="col-12">
              <button
                class="w-100 btn btn-outline-secondary btn-lg"
                type="submit"
              >
                <img
                  src="assets/apple.svg"
                  alt="Apple"
                  width="18px"
                  class="mb-2"
                />
                Signup with Apple
              </button>
            </div>

            <div class="col-12 text-center">
              <small class="text-muted">
                By registering, you accept our
                <a href="/terms">Terms of use</a> and
                <a href="/privacy">Privecy Policy</a>
              </small>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-lg-5">
        <img class="taker" src="assets/order-taker.png" alt="Order Taker" />
      </div>
    </div>
  </main>
</div>
