* {
  box-sizing: border-box; /* Apply box-sizing: border-box; to all elements */
}

.taker {
  background: linear-gradient(91.26deg, #feef34 -0.9%, #ffec00 98.68%);
  /* object-fit: cover; */
  width: 526px;
  height: 813px;
  margin-left: 3.4rem;
}
@media (width < 1282px) {
  .taker {
    width: 440px;
  }
}

@media (max-width: 1265px) {
  .taker {
    width: 430px;
  }
}

@media (max-width: 1122px) {
  .taker {
    width: 420px;
  }
}
@media (max-width: 1037px) {
  .taker {
    width: 410px;
  }
}

@media (max-width: 993px) {
  .taker {
    display: none;
  }
}

.btn-outline-secondary:hover {
  color: var(--grey-color);
  background-color: white;
}
