<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <div class="grid text-center">
        <div class="g-col-6">
          <h3 class="heading">Create a business account</h3>
        </div>
        <div class="g-col-6">
          <p class="sub-heading">
            Already have an account? <a href="/login">Login</a>
          </p>
        </div>
        <div class="g-col-6">
          <form>
            <div class="mb-3">
              <input
                type="email"
                class="form-control text-field"
                id="emailInput"
                placeholder="Work Email"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control text-field"
                id="passwordInput"
                placeholder="Password"
              />
            </div>
          </form>
        </div>
        <div class="g-col-6">.g-col-6</div>

        <div class="g-col-6">.g-col-6</div>
        <div class="g-col-6">.g-col-6</div>

        <div class="g-col-6">.g-col-6</div>
        <div class="g-col-6">.g-col-6</div>
        <div class="g-col-6">.g-col-6</div>
      </div>
    </div>
    <div class="col-4">
      <img class="taker" src="/assets/order-taker.png" alt="Order Taker" />
    </div>
  </div>
</div>
