<div class="container-fluid">
  <div class="row">
    <!-- <nav
      class="navbar bg-dark border-bottom border-body custom-navbar"
      data-bs-theme="dark"
    >
      <div class="container">
        <a class="navbar-brand" href="#">Hi Menus for Business</a>
      </div>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hi Menus for Business</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavDarkDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button
                class="btn btn-dark dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container-fluid px-lg-5">
  <main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-5 offset-lg-2">
        <div class="py-5 text-center mt-5">
          <h2>Create a business account</h2>
          <small class="text-muted"
            >Already have an account? <a href="/">Login</a></small
          >
        </div>

        <form>
          <div class="row g-3">
            <div class="col-12">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Work Email"
              />
            </div>

            <div class="col-12">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>

            <div class="col-12">
              <button class="w-100 btn btn-warning btn-lg" type="submit">
                Next
              </button>
            </div>

            <div class="col-12 text-center">
              <small class="text-muted">OR</small>
            </div>

            <div class="col-12">
              <button
                class="w-100 btn btn-outline-secondary btn-lg no-hover"
                type="submit"
              >
                <img
                  src="assets/google.png"
                  alt="Google"
                  width="20px"
                  class="mb-1"
                />
                Signup with Google
              </button>
            </div>

            <div class="col-12">
              <button
                class="w-100 btn btn-outline-secondary btn-lg"
                type="submit"
              >
                <img
                  src="assets/apple.svg"
                  alt="Apple"
                  width="18px"
                  class="mb-2"
                />
                Signup with Apple
              </button>
            </div>

            <div class="col-12 text-center">
              <small class="text-muted">
                By registering, you accept our
                <a href="/terms">Terms of use</a> and
                <a href="/privacy">Privecy Policy</a>
              </small>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-5">
        <img
          src="assets/order-taker.png"
          class="taker object-fit-lg-cover object-fit-sm-contain img-fluid"
          alt="Order Taker"
        />
      </div>
    </div>
  </main>
</div>
