* {
  box-sizing: border-box; /* Apply box-sizing: border-box; to all elements */
}

.taker {
  background: linear-gradient(91.26deg, #feef34 -0.9%, #ffec00 98.68%);
  width: 100vh;
  height: 100vh;
  margin-left: 3.5rem;
}

@media (max-width < 1440px) {
  .taker {
    width: 440px;
    height: 800px;
  }
}

@media (max-width > 1440px) {
  .taker {
    width: 440px;
    height: 900px;
  }
}

@media (width < 1282px) {
  .taker {
    width: 440px;
  }
}

@media (max-width: 1265px) {
  .taker {
    width: 430px;
  }
}

@media (max-width: 1122px) {
  .taker {
    width: 420px;
  }
}
@media (max-width: 1037px) {
  .taker {
    width: 410px;
  }
}

@media (max-width: 993px) {
  .taker {
    display: none;
  }

  /* div.row.g-5:first-child {
    
  } */
}

.btn-outline-secondary:hover {
  color: var(--grey-color);
  background-color: white;
}

/* Custom styles for the navbar */
.custom-navbar {
  background: #111111; /* Custom background color */
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
  color: #ffffff; /* Custom text color */
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #cccccc; /* Change color on hover if needed */
}
